html {
    height: 100%;
    width: 100%;

  }
  body{
    background-image: url('garden1.jpg');
    background-size: cover;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  #title {
    float: left;
    font-size: 20px;
  }
  #nottitle {
    float: right;
  }
  
  .navoption {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
  }
  
  .navoption:hover {
    text-decoration: underline;
  text-decoration-thickness: 1.4px;
    text-underline-position: under;
    cursor: pointer;
  }
#aboutpara{
    max-width: 300px;
    color: white;
    padding: 20px;
    display: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}
#contactpara{
    max-width: 300px;
    color: white;
    padding: 20px;
    display: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}